body{
font-size:20px;
}

*{
padding:0;
margin:0;
}

.contenedor-uno{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:center;
gap:2rem;
padding:5rem 1rem 5rem 1rem;
background:#fde11d;
}

.contenedor-uno__img{
height:20rem;
width:20rem;
object-fit: cover;
border-radius:50%;
justify-self:end;
}

.contenedor-uno__cont-texto{
display:grid;
align-content:center;
}

.cont-texto__texto{
font-size:1.8rem;
font-family:sans-serif;
justify-self:start;
font-family: "oswald",sans-serif;
}

.cont-texto__texto{
font-size:1.8rem;
font-family:sans-serif;
justify-self:start;
font-family: "oswald",sans-serif;
}

section a{
text-decoration:none;
}

.conocimientos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:2rem;
padding:2rem 2rem 5rem 2rem;
background:#1A1A1A;
justify-content: start;
}

.conocimientos__titulo{
font-size:1.5rem;
flex-basis:100vw;
color:#fff;
font-family: "oswald",sans-serif;
border-bottom:.1rem solid #fff;
}

.conocimientos__caja-conocimientos{
height:10rem;
width:9rem;
align-self:center;
border-radius:.2rem .2rem .2rem .2rem;
display:grid;
justify-content:center;
border:.1rem solid #fff;
}

.caja-conocimientos__img{
height:2.5rem;
width:2.5rem;
justify-self:center;
align-self:end;
}

.caja-conocimientos__nombre{
color:#fff;
font-family: "oswald",sans-serif;
justify-self:center;
align-self: center;
}

.caja-conocimientos__saber{
color:#fff;
justify-self:center;
align-self:end;
}

.proyectos{
background:#1A1A1A;
display:flex;
flex-wrap:wrap;
gap:3rem;
padding:5rem 2rem 5rem 2rem;
justify-content:center;
justify-content: start;
}

.proyectos__titulo{
font-size:1.5rem;
color:#fff;
font-family: "oswald",sans-serif;
flex-basis:100vw;
border-bottom:.1rem solid #fff;
}

.proyectos__caja-proyectos{
width:20rem;
border:.1rem solid #fff;
display:grid;
grid-template-rows:auto 1fr;
}

.caja-proyectos__contenedor-img{
height:13rem;
width:20rem;
}

.contenedor-img__img{
height:100%;
width:100%;
}

.lazo{
font-size: 1rem;
font-weight: 600;
font-family: "oswald", sans-serif;
color: #000;
margin-left: .5rem;
background: #fde11d;
padding: .3rem 0 .3rem 1rem;
border-radius: 1rem 0 0 1rem;
transform: translateY(-3rem);
}

.caja-proyectos__informacion-proyecto{
display:grid;
gap:1rem;
padding:.7rem;
}

.informacion-proyecto__lenguajes img{
height:1.2rem;
width:1.2rem;
}

.informacion-proyecto__texto{
color:#fff;
}


.informacion-proyecto__boton{
height:2rem;
width:7rem;
color:#fff;
align-self: end;
display:grid;
place-content:center;
border:.1rem solid #fff;
}

.rojo{
color:rgb(255, 0, 0);
}

.amarillo{
color:rgb(255, 255, 0);
}

.footer{
display:grid;
place-content:center;
background:#000;
gap:1rem;
padding:3rem;
}

.footer__link{
display:flex;
gap:.5rem;
text-decoration:none;
color:#fff;
}

.link__img{
height:1.5rem;
width:1.5rem;
}

.footer__texto{
color:#fff;
}




@media screen and (max-width:775px){
    .proyectos{
        place-content: center;
    }
}

@media screen and (max-width:500px){
    .contenedor-uno__img{
        height:18rem;
        width:18rem;
    }

    .cont-texto__texto{
        font-size:1.6rem;
    }
}

